<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CEFAB5A1899CC75420A1B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29FC17BCBC00AB4007D219E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A273BE58904752506AD7474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6857F8EAE30E1EA7348C407F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B676F2A98C0EE04EF057E70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C5905C5B1D5F1E6EBB9395F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>813DBB2C8FA8488CB2A0850E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA5EF6672C374DB7D05FB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4D012BA00E942CE3E13ED28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5628470F317DFBC0AC94CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B03F597AB2B51615D8B0AFF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9DA2287E06D554F82C141CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9593CE068915DC38157E739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2B4BAAD044778F03B18500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C6A0CFDB0094D8E35C577D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F7EB5710545DE17AF0B5C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D711B1FC4DEE60CF3FB6188C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E21DA3825FF65243B4288416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F065836E73C8A2F3415E76E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
